# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/
dist/
build/
.eggs/
*.egg
.env
venv/
.venv/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Node
node_modules/
frontend/dist/

# Docker
pg_data/
meili_data/
minio_data/

# Alembic
backend/alembic/versions/*.pyc
